@font-face {
    font-family: "thor";
    src: url(Rubik_Moonrocks/RubikMoonrocks-Regular.ttf);
}
@font-face {
    font-family: "mochiy";
    src: url(Mochiy_Pop_One/MochiyPopOne-Regular.ttf);
}
@font-face {
    font-family: "courgette";
    src: url(Courgette/Courgette-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
}
.stack {
    height: 65px;
    background-color: black;
    color: #F5F5DC;
    text-align: center;
    position: sticky;
    top: 1px;
    font-size: 22px;
    font-family: "thor";
    animation-name: sapa;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes sapa {
    0%{color: #F5F5DC;}
    25%{color: #f2e5d9;}
    50%{color: #efdccc;}
    75%{color: #e9d3cd;}
    100%{color: #dbc2ad;}
}
hr {
    height: 0.5px;
    background-color: #F5F5DC;
    width: 20%;
    border-radius: 100px;
}
main{
    border: 1px solid black;
    margin:4% 20% ;
    font-size: 22px;
    font-family: 'courgette';
    line-height: 40px;
}
.button a {
    text-decoration: none;
}
.button img {
margin-left: 75%;
}